<%= @game.attacker.name %> attacked <%= @game.defender.name %>!!!<br>
<%= @game.defender.name %>: <%= @game.defender.hit_points %> HP / 100 HP<br>
<br>
<br>
<br>

<form action='/play'>
  <input type="submit" value="OK">
</form>
