<%= @game.attacker.name %> vs. <%= @game.defender.name%><br>
<%= @game.defender.name %>: <%= @game.defender.hit_points %> HP / 100 HP<br>
<br>
<br>
<br>

<form action='/attack'>
  <input type="submit" value="Attack!">
</form>
